LITELLM_MASTER_KEY=sk-change-me
LITELLM_SALT_KEY=change-me-salt-key
DATABASE_URL=postgresql://deps-postgres:deps-postgres-password@postgres:5432/litellm

AWS_REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DIAL_API_BASE=https://ai-proxy.lab.epam.com
DIAL_API_KEY=
DIAL_API_VERSION=2023-12-01-preview

DEEPSEEK_API_BASE=https://api.deepseek.com
DEEPSEEK_API_KEY=

GROQ_API_BASE=https://api.groq.com/openai/v1
GROQ_API_KEY=

GOOGLE_API_KEY=